.container {
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  background-color: #0999bd;
  color: white;
  cursor: pointer;
}

.button:disabled {
  background-color: #0E7490;
  cursor: not-allowed;
}